@page "/counter"
@inject MainGameEngine game
<PageTitle>DungeonEar</PageTitle>

<h1>Play</h1>

<p>You are at @current.Name </p>
<p> @current.Description </p>
<p> Move [N]orth [E]ast [S]outh [W]est </p>
@foreach(var exit in current.Exits) {
    <button @onclick = "()=>MoveLocation(exit.Value)">@exit.Key</button> 
}
<hr/>





@code {
    private Location current;
    protected override Task OnInitializedAsync() {
        current = game.GetCurrentLocation();
        return base.OnInitializedAsync();


    }

    private void MoveLocation(int destinationRoomId) {
        current = game.World.GetLocationWithId(destinationRoomId);
    }


}


