@page "/"
@inject MainGameEngine game

<PageTitle>Index</PageTitle>

<h1>DungeonEar</h1>

Welcome player 1 to the complicated world of DungeonEar. Click play to delve into the dungeons bellow.


@code {

    protected override async Task OnInitializedAsync() {
        await game.Initialise(new InitialisationOptions()) ;

    }


}